name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1
        with:
          host: kamil146.mikrus.xyz
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 10146
          script: |
            cd /opt/retro
            git pull
            docker compose up -d --build
